@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .text-shadow {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
    }
}

.background {
    background-image: url('src/assets/Page\ Background\ NEW.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; /* This makes the background image scroll with the page */
    background-size: cover;
    height: 100%;
}
